* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif; }

::-webkit-scrollbar {
  width: 5px;
  background-color: #D9D9D9; }

::-webkit-scrollbar-thumb {
  background-color: #13181f; }

.container {
  display: grid;
  grid-template-columns: [line1] 6% [line2] 4% [center] auto [line3] 4% [line4] 6%;
  grid-template-rows: 140px auto;
  grid-template-areas: ". header header header ." ". . intro top .";
  height: 100vh;
  min-height: 700px;
  background-color: #232B37; }
  @media only screen and (max-width: 768px) {
    .container {
      grid-template-rows: 0 auto; } }
  .container .to-top {
    grid-area: top;
    height: 100%;
    display: flex;
    align-items: flex-end;
    position: fixed;
    height: 50px;
    width: 50px;
    background-color: #232B37;
    border: 2px solid #232B37;
    bottom: 5%;
    right: 4%;
    transition: all 0.3s ease;
    opacity: 0; }
    .container .to-top:hover {
      background-color: #fff; }
    .container .to-top div {
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      display: flex;
      justify-content: center; }
      .container .to-top div:hover svg {
        transform: translateY(-7px); }
        .container .to-top div:hover svg .cls-1 {
          fill: #232B37; }
      .container .to-top div svg {
        height: 25px;
        width: 25px;
        transition: all 0.3s ease; }
        .container .to-top div svg .cls-1 {
          fill: #fff;
          transition: all 0.3s ease; }
  .container .to-top-white {
    background-color: #fff !important;
    border: 2px solid #232B37 !important; }
    .container .to-top-white:hover {
      background-color: #232B37 !important;
      border: 2px solid #fff !important; }
    .container .to-top-white:hover .cls-1 {
      fill: #fff !important; }
    .container .to-top-white .cls-1 {
      fill: #232B37 !important; }
  .container .to-top-blue {
    background-color: #232B37 !important; }
    .container .to-top-blue:hover {
      background-color: #fff !important; }
    .container .to-top-blue:hover .cls-1 {
      fill: #232B37 !important; }
    .container .to-top-blue .cls-1 {
      fill: #fff !important; }

.menu {
  background-color: #13181f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 0%;
  height: 100%;
  position: fixed;
  opacity: 0.95;
  z-index: 1;
  transition: width 0.4s ease; }
  .menu .header-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px; }
    .menu .header-icons svg {
      height: 2em;
      width: 2em;
      transition: opacity 0.13s ease;
      padding: 10px;
      opacity: 0; }
  .menu ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0; }
    @media only screen and (max-width: 768px) {
      .menu ul {
        width: 100%;
        transition: opacity 0.13s ease;
        margin-top: 50px; } }
    .menu ul li {
      font-size: 1.6rem;
      list-style-type: none;
      font-weight: 500;
      text-align: center;
      padding: 25px; }
  .menu a {
    color: #fff;
    list-style-type: none;
    text-decoration: none;
    transition: color 0.25s ease; }
    .menu a:hover {
      color: #FF6464; }

nav {
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
  font-weight: 600;
  grid-area: header; }
  nav .header-icons svg {
    height: 2em;
    width: 2em;
    margin: 0 7px;
    transition: transform 0.25s ease; }
    nav .header-icons svg:hover {
      transform: scale(1.1); }
    nav .header-icons svg .cls-1 {
      transition: fill 0.25s ease; }
    nav .header-icons svg:hover .cls-1 {
      fill: #FF6464; }
    @media only screen and (max-width: 768px) {
      nav .header-icons svg {
        display: none; } }
  nav ul {
    display: flex;
    flex-wrap: wrap; }
    @media only screen and (max-width: 768px) {
      nav ul {
        display: none;
        width: 100%; } }
    nav ul li {
      font-size: 1.6rem;
      list-style-type: none;
      font-weight: 500;
      padding-left: 75px; }
  nav a {
    color: #fff;
    list-style-type: none;
    text-decoration: none;
    transition: color 0.25s ease; }
    nav a:hover {
      color: #FF6464; }
  @media only screen and (max-width: 768px) {
    nav {
      display: block; } }

.toggle {
  position: fixed;
  width: 90%;
  align-items: flex-end;
  padding-top: 20px;
  color: #fff;
  font-size: 2rem;
  display: none;
  flex-direction: column;
  grid-area: header;
  z-index: 1; }
  .toggle span {
    width: 38px;
    background-color: #fff;
    height: 5px;
    margin: 3px;
    border-radius: 3px;
    transition: all 0.3s ease; }
  .toggle .burger-anime:nth-child(1) {
    transform: translateY(11px) rotate(-45deg); }
  .toggle .burger-anime:nth-child(2) {
    opacity: 0; }
  .toggle .burger-anime:nth-child(3) {
    transform: translateY(-11px) rotate(45deg); }
  @media only screen and (max-width: 768px) {
    .toggle {
      display: flex; } }

.active {
  display: block; }

.intro {
  grid-area: intro;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 70px;
  text-align: center; }
  .intro h1 {
    font-size: 3rem;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    animation: textAnime 2.5s steps(23), blinkAnime 0.5s infinite alternate;
    border-right: solid 2px #fff; }
    .intro h1::selection {
      background-color: #ffa0a0; }
    .intro h1 span {
      color: #FF6464;
      text-decoration: underline; }
      .intro h1 span::selection {
        background-color: #ffa0a0; }
    @media screen and (max-width: 768px) {
      .intro h1 {
        animation: none;
        border-right: none;
        white-space: normal; } }
  .intro p {
    font-size: 1.4rem;
    color: #D9D9D9;
    width: 60%; }
    .intro p::selection {
      background-color: #ffa0a0; }
    @media only screen and (max-width: 768px) {
      .intro p {
        width: 100%;
        margin-top: 20px; } }
    .intro p span {
      color: #fff;
      text-decoration: underline;
      font-weight: 600; }
      .intro p span::selection {
        background-color: #FF6464; }
  .intro button {
    width: 300px;
    min-width: 200px;
    height: 55px;
    border: 2px solid #D9D9D9;
    color: #fff;
    background-color: #232B37;
    transition: all 0.25s ease;
    outline: none;
    font-size: 1.4rem;
    margin-top: 25px;
    cursor: pointer; }
    .intro button:hover {
      background-color: #D9D9D9;
      color: #232B37;
      font-size: 1.4rem;
      font-weight: 600; }
    @media only screen and (max-width: 479px) {
      .intro button {
        width: 80%; } }
    .intro button::selection {
      background-color: #ffa0a0; }

/* ================== PORTFOLIO ===================== */
.portfolio-container {
  display: grid;
  grid-template-columns: [line1] 6% [line2] 4% [center] auto [line3] 4% [line4] 6%;
  grid-template-rows: 140px auto;
  grid-template-areas: ". header header header ." ". . center . .";
  min-height: 100vh;
  width: 100%; }
  @media only screen and (max-width: 1054px) {
    .portfolio-container {
      height: auto; } }
  .portfolio-container h1 {
    grid-area: header;
    font-size: 1.9rem;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: underline; }
  .portfolio-container .project-container {
    grid-area: center;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .portfolio-container .project-container .card:nth-child(1) {
      background-image: url("images/loandolphins.png"); }
    .portfolio-container .project-container .card:nth-child(3) {
      background-image: url("images/calc.png"); }
    .portfolio-container .project-container .card {
      flex-basis: 400px;
      min-width: 45%;
      overflow: hidden;
      position: relative;
      min-height: 300px;
      height: auto;
      margin: 10px;
      background-image: url("images/calc.png");
      background-size: cover;
      background-position: 50% 50%;
      object-fit: cover;
      color: #fff;
      flex-grow: 1;
      transition: all 1s ease;
      display: flex;
      justify-content: center;
      display: flex;
      flex-direction: column; }
      .portfolio-container .project-container .card:nth-child(even) {
        text-align: right; }
        @media only screen and (max-width: 1024px) {
          .portfolio-container .project-container .card:nth-child(even) {
            text-align: center; } }
      .portfolio-container .project-container .card:nth-child(odd) .class-holder {
        transform: translateX(0px); }
      .portfolio-container .project-container .card:nth-child(even) .class-holder {
        transform: translate(0px); }
      .portfolio-container .project-container .card:nth-child(odd):hover .class-holder {
        transform: translateX(101%);
        transition: 0.7s; }
      .portfolio-container .project-container .card:nth-child(odd):hover .class-holder-info {
        left: 60%; }
        @media only screen and (max-width: 1254px) {
          .portfolio-container .project-container .card:nth-child(odd):hover .class-holder-info {
            left: 55%; } }
      .portfolio-container .project-container .card:nth-child(even):hover .class-holder-info {
        left: 0%; }
      .portfolio-container .project-container .card:nth-child(even):hover .class-holder {
        transform: translateX(-101%);
        transition: 0.7s; }
      .portfolio-container .project-container .card:nth-child(even) .class-holder-info {
        top: 0%;
        left: -45%; }
      @media only screen and (max-width: 479px) {
        .portfolio-container .project-container .card {
          width: 100%;
          min-width: 200px;
          min-height: 250px;
          justify-content: flex-start;
          text-align: center; } }
      .portfolio-container .project-container .card a {
        list-style-type: none;
        text-decoration: none;
        color: #fff;
        height: 100%; }
      .portfolio-container .project-container .card .class-holder {
        transform: translate(-900px);
        min-height: 300px;
        width: 100%;
        height: 100%;
        background-color: #232B37;
        transition: all 0.5s ease;
        transition-delay: 0.25s;
        display: flex;
        justify-content: space-between;
        display: flex;
        flex-direction: column; }
        @media screen and (max-width: 768px) {
          .portfolio-container .project-container .card .class-holder {
            transform: translateX(0px) !important;
            opacity: 0.9;
            text-align: center; } }
        .portfolio-container .project-container .card .class-holder p {
          font-size: 1.2rem;
          margin: 10px; }
          @media only screen and (max-width: 479px) {
            .portfolio-container .project-container .card .class-holder p {
              width: 90%; } }
        .portfolio-container .project-container .card .class-holder h3 {
          text-decoration: none;
          font-size: 1.9rem;
          margin: 10px; }
      .portfolio-container .project-container .card .class-holder-info {
        height: 100%;
        width: 40%;
        position: absolute;
        top: 0%;
        left: 110%;
        background-color: #232B37;
        text-align: left;
        transition: all 0.4s ease;
        transition-delay: 0.1s;
        display: flex;
        align-items: center; }
        @media only screen and (max-width: 768px) {
          .portfolio-container .project-container .card .class-holder-info {
            display: none; } }
        @media only screen and (max-width: 1254px) {
          .portfolio-container .project-container .card .class-holder-info {
            width: 45%; } }
        .portfolio-container .project-container .card .class-holder-info .class-holder-wrapper {
          padding: 0 15px;
          height: 90%;
          display: flex;
          flex-direction: column;
          display: flex;
          justify-content: space-between;
          display: flex;
          align-items: center; }
          .portfolio-container .project-container .card .class-holder-info .class-holder-wrapper p {
            font-size: 1.2rem;
            color: #D9D9D9; }
            @media only screen and (max-width: 1254px) {
              .portfolio-container .project-container .card .class-holder-info .class-holder-wrapper p {
                font-size: 14px; } }
          .portfolio-container .project-container .card .class-holder-info .class-holder-wrapper h3 {
            font-size: 1.4rem;
            width: 100%; }
          .portfolio-container .project-container .card .class-holder-info .class-holder-wrapper a {
            width: 300px;
            min-width: 200px;
            height: 55px;
            border: 2px solid #D9D9D9;
            color: #fff;
            background-color: #232B37;
            transition: all 0.25s ease;
            outline: none;
            display: flex;
            align-items: center;
            display: flex;
            justify-content: center;
            width: 100%;
            min-height: 30px;
            min-width: 0;
            height: 40px;
            color: #D9D9D9;
            font-weight: 500; }
            .portfolio-container .project-container .card .class-holder-info .class-holder-wrapper a:hover {
              background-color: #D9D9D9;
              color: #232B37;
              font-size: 1.4rem;
              font-weight: 600; }
            @media only screen and (max-width: 479px) {
              .portfolio-container .project-container .card .class-holder-info .class-holder-wrapper a {
                width: 80%; } }
            .portfolio-container .project-container .card .class-holder-info .class-holder-wrapper a:hover {
              font-size: 16px; }

/* ===================== ABOUT ========================== */
.about-container {
  display: grid;
  grid-template-columns: [line1] 6% [line2] 4% [center] auto [line3] 4% [line4] 6%;
  grid-template-rows: 140px auto;
  grid-template-areas: ". header header header ." ". . center . .";
  background-color: #232B37;
  height: 100vh; }
  @media screen and (max-width: 1254px) {
    .about-container {
      height: auto; } }
  .about-container h1 {
    grid-area: header;
    font-size: 1.9rem;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: #fff; }
  .about-container .about-container {
    grid-area: center;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .about-container .about-container .about-me {
      width: 50%;
      min-width: 480px;
      margin-bottom: 50px;
      color: #fff; }
      @media screen and (max-width: 768px) {
        .about-container .about-container .about-me {
          width: 100%;
          min-width: 100%; } }
      .about-container .about-container .about-me h2 {
        position: relative; }
        @media screen and (max-width: 768px) {
          .about-container .about-container .about-me h2 {
            text-align: center; } }
        .about-container .about-container .about-me h2::before {
          content: "<h2>";
          position: absolute;
          top: 5px;
          left: -60px;
          font-size: 16px;
          color: #fff;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
          @media screen and (max-width: 768px) {
            .about-container .about-container .about-me h2::before {
              content: ''; } }
      .about-container .about-container .about-me p {
        font-size: 1.2rem;
        font-weight: 500;
        color: #D9D9D9;
        position: relative; }
        @media screen and (max-width: 768px) {
          .about-container .about-container .about-me p {
            text-align: center; } }
        .about-container .about-container .about-me p::after {
          content: '<p>';
          position: absolute;
          top: 0px;
          left: -60px;
          font-size: 18px;
          color: #fff;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
          @media screen and (max-width: 768px) {
            .about-container .about-container .about-me p::after {
              content: ''; } }
    .about-container .about-container .blog-section {
      width: 50%;
      display: flex;
      flex-direction: column;
      display: flex;
      align-items: center; }
      @media screen and (max-width: 1024px) {
        .about-container .about-container .blog-section {
          order: -1; } }
      .about-container .about-container .blog-section div {
        position: relative;
        height: 300px;
        width: 450px;
        background-image: url("images/group 59.svg");
        background-position: center; }
        @media screen and (max-width: 768px) {
          .about-container .about-container .blog-section div {
            width: 300px; } }
        .about-container .about-container .blog-section div::before {
          content: 'COMING SOON';
          display: flex;
          align-items: center;
          display: flex;
          justify-content: center;
          width: 470px;
          position: absolute;
          background-color: #FF6464;
          font-size: 1.4rem;
          color: #fff;
          font-weight: 600;
          height: 50px;
          top: 30%;
          left: -2%;
          z-index: 1;
          transform: rotate(-3deg); }
          @media screen and (max-width: 768px) {
            .about-container .about-container .blog-section div::before {
              width: 310px; } }
      .about-container .about-container .blog-section a {
        width: 300px;
        min-width: 200px;
        height: 55px;
        border: 2px solid #D9D9D9;
        color: #fff;
        background-color: #232B37;
        transition: all 0.25s ease;
        outline: none;
        display: flex;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 20px 0;
        width: 200px;
        text-decoration: none; }
        .about-container .about-container .blog-section a:hover {
          background-color: #D9D9D9;
          color: #232B37;
          font-size: 1.4rem;
          font-weight: 600; }
        @media only screen and (max-width: 479px) {
          .about-container .about-container .blog-section a {
            width: 80%; } }
        .about-container .about-container .blog-section a:hover {
          font-size: 16px; }

/* ===================== CONTACT  ======================= */
.contact-section {
  display: grid;
  grid-template-columns: [line1] 6% [line2] 4% [center] auto [line3] 4% [line4] 6%;
  grid-template-rows: 140px auto;
  grid-template-areas: ". header header header ." ". . center . .";
  height: 75vh; }
  .contact-section h1 {
    grid-area: header;
    text-decoration: underline;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center; }
  .contact-section form {
    grid-area: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column; }
    .contact-section form .form-container {
      display: flex;
      align-items: center;
      display: flex;
      justify-content: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 50%; }
      @media screen and (max-width: 768px) {
        .contact-section form .form-container {
          width: 100%; } }
    .contact-section form div {
      display: flex;
      justify-content: space-between;
      width: calc(100% + 22px); }
      .contact-section form div input, .contact-section form div textarea {
        width: 45%; }
        @media screen and (max-width: 1024px) {
          .contact-section form div input, .contact-section form div textarea {
            margin: 5px;
            width: calc(100%); }
            .contact-section form div input:nth-child(2), .contact-section form div textarea:nth-child(2) {
              margin-bottom: 10px; } }
      @media screen and (max-width: 1024px) {
        .contact-section form div {
          display: flex;
          flex-direction: column;
          display: flex;
          align-items: center;
          display: flex;
          justify-content: space-between;
          width: 100%; } }
    .contact-section form input, .contact-section form textarea {
      width: 50%;
      background-color: #232B37;
      border: none;
      height: 30px;
      padding: 10px;
      outline: none;
      color: #fff;
      border: 2px solid #232B37;
      font-size: 1.2rem;
      transition: all 0.3s ease; }
      .contact-section form input:focus, .contact-section form textarea:focus {
        background-color: #fff;
        border: 2px solid #232B37;
        color: #232B37;
        font-weight: 600; }
        .contact-section form input:focus::placeholder, .contact-section form textarea:focus::placeholder {
          color: #5f7495; }
      .contact-section form input::placeholder, .contact-section form textarea::placeholder {
        color: #D9D9D9; }
      .contact-section form input:nth-child(3), .contact-section form textarea:nth-child(3) {
        width: 40%;
        height: 55px;
        text-indent: 0;
        margin-bottom: 60px;
        transition: all 0.3s ease; }
        @media screen and (max-width: 768px) {
          .contact-section form input:nth-child(3), .contact-section form textarea:nth-child(3) {
            margin-bottom: 20px; } }
        .contact-section form input:nth-child(3):hover, .contact-section form textarea:nth-child(3):hover {
          background-color: white;
          color: #232B37;
          font-weight: 500;
          border: 2px solid #232B37; }
    .contact-section form textarea {
      width: 100% !important;
      height: 40% !important;
      margin: 10px 0;
      resize: none; }
      .contact-section form textarea::placeholder {
        color: #D9D9D9; }
      .contact-section form textarea:focus {
        font-weight: 500; }

/* ===================== FOOTER =========================== */
footer {
  height: 25vh;
  background-color: #232B37;
  display: grid;
  grid-template-columns: [line1] 6% [line2] 4% [center] auto [line3] 4% [line4] 6%;
  grid-template-rows: 140px auto;
  grid-template-areas: ". header header header ." ". . center . .";
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: space-around; }
  footer ul {
    grid-area: header;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center; }
    footer ul li {
      color: #fff;
      list-style-type: none;
      margin: 0 30px; }
      footer ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 1.4rem; }
        footer ul li a svg {
          height: 40px;
          width: 40px;
          margin-top: 20px; }
          footer ul li a svg .cls-1 {
            transition: all 0.2s ease; }
          footer ul li a svg:hover .cls-1 {
            fill: #FF6464; }
  footer p {
    grid-area: header;
    color: #fff;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center; }

/* ===================== BACK-TO-TOP ====================== */
/* ===================== ANIMATIONS ===================== */
@keyframes textAnime {
  from {
    width: 0; }
  to {
    width: 600px; } }
@keyframes blinkAnime {
  from {
    border-color: transparent; }
  to {
    border-color: #fff; } }

/*# sourceMappingURL=input.css.map */
